<div class="card-body">
  <%= form_with(model: reply, local: true, url: confirm_new_reply_path) do |f| %>
    <%= f.hidden_field :post_id, value: post.id %>
    <div class="js-text-wrapper">
      <%= f.text_area :content, class: 'form-control js-text', rows: 8, maxlength: 1000, style: "resize: none;" %>
      <div class="form-footer d-flex align-items-center justify-content-between mt-2">
        <%= f.submit '回答する', class: 'btn btn-info px-4 py-2' %>
        <span class="js-text-count text-muted small"></span>
      </div>
    </div>
  <% end %>
</div>
