<ul class="list-unstyled">
  <% replies.each do |reply| %>
      <li class="media mb-3">
        <div class="media-body">
          <p><%= reply.content %></p>
        </div>
      </li>
  <% end %>
  
</ul>
