<div class="card">
  <div class="card-body">
    <ul class="list-unstyled" >
      <% replies.each do |reply| %>
        <li class="media p-3 mb-3 border rounded">
          <div class="media-body">
            <p><%= reply.content %></p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
