<div class="profile py-4">
  <div class="text-center">
    <h1>友だち</h1>
    <p>Twitterでフォローしているユーザーの一覧です。<br>
       ※本サイトに登録していないユーザーは表示されません。</p>
  </div>
  <div class="card">
    <div class="card-body">
      <ul class="list-unstyled">
        <%= render partial: 'users/friends', collection: @friends %>
      </ul>
    </div>
  </div>
</div>
