<div class="other-posts my-5">
  <div class="text-center">
    <h1>みんなの質問</h1>
    <p>本サイトに登録しているユーザーの質問です。<br>
      回答はすべて匿名で送られるので、気楽に答えてみましょう。</p>
  </div>
  <%= render 'posts/posts', user: current_user, posts: @open_posts %>
</div>
