<div class="other-posts my-2">
  <div class="text-center mb-3">
    <h1 class="mb-2">みんなの質問</h1>
    <p class="mb-2">本サイトに登録しているユーザーの質問です。<br>
      回答はすべて匿名で送られるので、気楽に答えてみましょう。</p>
  </div>
  <%= render 'posts/posts', user: current_user, posts: @open_posts %>
</div>
