<div class="card my-4">
  <div class="card-body">
    <div class="text-center mb-4">
      <h1>質問する</h1>
      <p class="text-muted mb-0">新しく質問を投稿します。何でも聞いてみましょう。</p>
    </div>
    <%= render 'posts/form', user: current_user, post: @post %>
  </div>
</div>
