<% if user_signed_in? %>
  <%= link_to new_user_post_path(current_user), class: "floating-cta" do %>
    <span class="floating-cta__icon">＋</span>
    <span class="floating-cta__label">質問する</span>
  <% end %>
<% end %>
